body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 255, 255);
    color:rgb(49, 49, 49);
}

.card {
    width:400px;
    background-color:rgb(233, 233, 233);
    margin: auto;
    margin-bottom:20px;
    padding:10px 20px;
    box-shadow: black;
    
}
h1, h2 {
    text-align: center;
}

tr {
    display: flex;
    width:100%;
}

td {
    padding:5px;
    background-color: rgb(255, 180, 180);
    margin: 5px;
    flex-grow: 1;
    overflow-wrap: normal;
}

#proposalform {
    background-color:rgb(94, 94, 94);
    min-height: 60px;
    padding:2px;
    margin:2px;
    display: flex;
    flex-direction: row;
    width:90%;
    align-items: center;
    justify-items: center;
}

#proposallist {
    border-color: rgb(150, 150, 150);
}

div {
    background-color: rgb(112, 112, 148);
}

footer {
    width:100%;
    background-color:rgb(40, 40, 40);
    color:white;
    bottom:0;
    position:fixed;
    padding:20px;
    left:0;
    word-wrap: normal;
    text-align: center;

}