<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table>
    <tr th:fragment="proposalRow(proposal)">
        <td th:text="${proposal.topicTitle}"></td>
        <td th:text="${proposal.votes} + ' Votes'"></td>
        <td>
            <button th:attr="formaction=@{'/oldCastvote/' + ${proposal.id}}">OldVote</button>
            <!-- TODO: Replace button in parallel -->
            <!-- <button th:attr="hx-post=@{'/castvote/' + ${proposal.id}}">Vote</button>-->
        </td>
    </tr>
</table>
</body>
</html>