<div
  hx-get="/proposalslist"
  hx-trigger="every 1000ms"
  hx-target="this"
  hx-swap="outerHTML"
>

<div th:if="${proposalslist.empty}"><p>No topics yet</p></div>
<form
method="post"
>
  <table id="example" th:each="proposal : ${proposalslist}">
    <tr>
      <td th:text="${proposal.topicTitle}">
      </td>
      <td th:text="${proposal.votes} + ' Votes'">
        
      </td>
      <td>
        <button th:attr="formaction=@{'/castvote/' + ${proposal.id}}" method="post">Vote</button>
      </td>
    </tr>
    </table>
  </form>
  </div>
  